# Database Configuration
MONGODB_URI=mongodb://localhost:27017/pocketpos
DB_NAME=
DB_PASS=    
DB_USER=

# Server Configuration
PORT=5050
NODE_ENV=development

# Cloudinary Configuration (Optional - for image uploads)
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET_KEY=
CLOUDINARY_CLOUD_NAME=

